name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  fmt:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt
      - name: Check formatting
        run: cargo fmt --all -- --check

  clippy-and-test:
    name: Build, Test, Clippy
    runs-on: ubuntu-latest
    needs: fmt
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Build (Default CLI)
        run: cargo build --verbose
      - name: Build (Editor)
        run: cargo build --verbose --features editor
      - name: Run Tests (Default CLI)
        run: cargo test --verbose
      - name: Run Tests (Editor)
        run: cargo test --verbose --features editor
      - name: Run Clippy (All Features)
        run: cargo clippy --all-targets --all-features -- -D warnings
